.date-transport{
    text-align: left;
    color:$themeColor;
    padding:100px 50px 0 50px;
    font-size:30px;
    .block{
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        &>div>*{
            margin-bottom: 20px;
        }
        .action{
            @include default-btn()
        }
        .left-name,.right-name{
            width:120px;
        }
        .left-input,.right-input{
            width:400px;
        }
        .middle-action{
            width:150px;
        }
        
        
    }
    .com-input{
       @include com-input()
    }
    .unit{
        padding-left:20px;
    }
}