.md5-encode{
    font-size: 20px;
    color:$themeColor;
    padding:200px 0 0 270px;
    &>div{
        text-align: left;
        margin-bottom:30px;
    }
}
.input{
    @include com-input();
    width:60%;
    
}
.out-put{
    text-align: left;
    &>div{
        display: flex;
        margin-top:10px;
    }
    .span{
        width:249px;
    }
}